<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iris</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <main>
        <header>
            <h3>IRIS</h3>
            <p>Hide. Protect. Reveal</p>
            <p>Securely hide messages inside the image using Steganography. </p>
        </header>
        <section>
                <a href="/encode" id="encode">
                    <h2>Encoder</h2>
                    <p>Hide a message in an image. </p>
                </a>

                <a href="/decode" id="decode">
                    <h2>Decoder</h2>
                    <p>Decode a message from an image. </p>
                </a>
        </section>  
    </main>
</body>
</html>