<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iris</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <main>
        <header>
            <h3>IRIS</h3>
            <p>Hide. Protect. Reveal</p>
            <p>Securely hide messages inside the image using Steganography. </p>
        </header>
        <section>
                <a href="/encode" id="encode">
                    <div class="card-icon">
                        <svg width="55" height="55" viewBox="0 0 24 24" fill="none">
                        <rect x="3" y="5" width="14" height="14" rx="2" 
                        stroke="currentColor" stroke-width="1.8"/>
                        <path d="M5 16l4-4 3 3 2-2 3 2"
                        stroke="currentColor" stroke-width="1.8"
                        fill="none"/>
                        <circle cx="16.5" cy="7.5" r="3"
                        fill="#211A35"
                        stroke="currentColor" stroke-width="1.8"/>
                        <path d="M16.5 6v3M15 7.5h3"
                        stroke="currentColor" stroke-width="1.8"/>
                        </svg>
                    </div>
                    <h2>Encoder</h2>
                    <p>Hide a message in an image. </p>
                    <span class="arrow">→</span>
                </a>

                <a href="/decode" id="decode">
                    <div class="card-icon">
                    <svg width="55" height="55" viewBox="0 0 24 24" fill="none">
                    <rect x="3" y="5" width="14" height="14" rx="2"
                    stroke="currentColor" stroke-width="1.8"/>
                    <path d="M5 16l4-4 3 3 2-2 3 2"
                    stroke="currentColor" stroke-width="1.8"
                    fill="none"/>
                    <circle cx="16.5" cy="15.5" r="4"
                        fill="#211A35"
                        stroke="currentColor" stroke-width="1.8"/>
                    <path d="M19.5 18.5L22 21"
                    stroke="currentColor" stroke-width="1.8"
                    stroke-linecap="round"/>
                    </svg>
                    </div>
                    <h2>Decoder</h2>
                    <p>Decode a message from an image. </p>
                    <span class="arrow">→</span>
                </a>
                <br><br>
        </section>  
    </main>
    <div id="star-container"></div>
    <script src="../static/script_home.js"></script>
</body>
</html>